<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/header.html"></th:block>
<body>
<div th:insert="fragments/nav.html"/>
<div class="container">
    <h1 class="my-4">Shape management</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="form" id="form">
                <input type="text" class="d-none" id="id">
                <div class="form-group">
                    <label for="shapeName">Name</label>
                    <input type="text" class="form-control" name="shapeName" id="shapeName">
                </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" name="shapeCategoryName" id="shapeCategoryName">
                            <option th:each="category : ${categories}"
                                    th:value="${category.shapeCategoryName}"
                                    th:utext="${category.shapeCategoryName}"
                                    th:data-dimensions="${category.dimensions}"/>
                        </select>
                    </div>
                <div id="sizes">
                </div>
                <div class="form-group">
                    <label>User</label>
                    <select class="form-control" name="username" id="username">
                        <option th:each="user : ${users}"
                                th:object="${user}"
                                th:value="${user.username}"
                                th:utext="${user.username}"/>
                    </select>
                </div>

                <button class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
        <div class="col-lg-8">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Sizes</th>
                    <th>Category</th>
                    <th>User</th>
                    <th>Action</th>
                </tr>
                <tr th:each="shape : ${shapes}" class="shape"  th:data-id="${shape.id}">
                    <td th:text="${shape.shapeName}" class="shapeName"></td>
                    <td class="sizes">
                        <p th:each="size : ${shape.sizes}">
                            <span class="sizeKey">[[${size.key}]]</span>: <span class="sizeValue">[[${size.value}]]</span>
                        </p>
                    </td>
                    <td class="shapeCategoryName" th:text="${shape.shapeCategory.shapeCategoryName}"></td>
                    <td class="username" th:text="${shape.createdBy}"></td>
                    <td>
                        <button class="btn btn-warning edit">Edit</button>
                        <button class="btn btn-danger delete">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/adminShape.js}"></script>
</footer>
</html>