<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/header.html"></th:block>
<body>
<div th:insert="fragments/nav.html"/>
<div class="container">
    <h1 class="my-4">Your shapes</h1>
    <div class="row">
        <div class="col-lg">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Sizes</th>
                    <th>Category</th>
                </tr>
                <tr th:each="shape : ${shapes}" class="shape">
                    <td th:text="${shape.shapeName}" class="shapeName"></td>
                    <td>
                        <p th:each="size : ${shape.sizes}">
                            [[${size.key}]]: [[${size.value}]]
                        </p>
                    </td>
                    <td th:text="${shape.shapeCategory.shapeCategoryName}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/shape.js}"></script>
</footer>
</html>