<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/app.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<div class="container center">
    <div class="row">
        <div class="col-sm">
            <div class="form" id="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" class="form-control" name="role" id="role">
                </div>

                <button class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
        <div class="col-lg">
            <table class="table">
                <tr>
                    <th>No.</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Active</th>
                </tr>
                <tr th:each="user : ${users}" class="user">
                    <td>1</td>
                    <td th:text="${user.username}" class="username"></td>
                    <td th:text="${user.role}" class="role"></td>
                    <td th:text="${user.enabled}"></td>
                    <td>
                        <button th:if="${user.enabled}" class="btn btn-warning edit">Edit</button>
                        <button th:if="${user.enabled}" class="btn btn-danger delete">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>