<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/app.js"></script>
</head>
<body>
    <div class="container">
        <table>
            <tr class="table">
                <th>No.</th>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </table>
    </div>
</body>
</html>